<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stonks Today - 오늘의 임스피</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container" id="app">
        <header>
            <h1>오늘의 임스피/h1>
        </header>
        
        <main id="status-card" class="loading">
            <div class="yield-display">
                <span id="yield-val">---</span>%
            </div>
            <p id="message">데이터 불러오는 중...</p>
        </main>
    </div>
    <script src="/js/client.js"></script>
</body>
</html>